h1 {
  color:purple;
  text-align: center;
}
body {
  background-image: url("bg.jpg");
  background-repeat:repeat-x;
  background-repeat: repeat-y;
}
html {border-style:double}
#contact {
  color:white;
  text-align: center;
}
#head1, #head2, #head3 {
  color:blue;
  text-align: left;
}
p {
  color:white;
  text-align: left;
}
